html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  background-color: #2b3851;
  min-height: 240px;
}

.robot {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding-top: 3em;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
}

.robot-head-right {
  width: 125px;
  position: absolute;
  left: 50%;
  top: 5%;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  left: 10%;
  top:5%;
}

.robot:hover .robot-head-left {
  left: -40%;
  top: 5%;
}

.robot:hover .robot-head-right {
  left: 90%;
  top: 5%;
}
